.container {
  width: calc(100% - 4em);
  display: flex;
  justify-content: space-between;
}

mat-spinner {
  margin: 5vh auto;
}

.float-left {
  float: left;
  margin-left: 5vw;
}

.float-right {
  float: right;
  margin-right: 5vw;
}
